@charset "UTF-8";

* {
  margin: 0%;
  padding: 0px;
  box-sizing: border-box;
}

form > #span-buttons > #exc, #sav, #add, .bi-pencil-square{
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
    cursor: context-menu;
  }

  /*Caixa nome sessão*/
  span > p {
    text-align: center;
    background-color: #dc6cebe8;
    width: 120px;
    margin: auto;
    transform: translateY(10vh);
    border-radius: 20px;
    box-shadow: 2px 2px 7px black;
    color: rgb(243, 242, 242);
    text-shadow: 1px 1px 2px black;
    cursor: context-menu;
  }

  table {
    margin: auto;
    transform: translateY(20vh);
    width: 70%;
    border-collapse: collapse;
    box-shadow: 1px 2px 7px black;
  }

  /*Cabeçalho da tabela*/
  table > #head-tab {
    height: 20px;
  }

  /*Cor das linhas(cor sim e cornão)*/
  table > #head-tab, tbody > tr:nth-child(2n) {
    background-color: #dc6ceb85;
  }

  /*Configuração dos campos do cabeçalho*/
  table > #head-tab > tr > th {
    border: 1px solid black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2.6dvi;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(243, 242, 242);
    text-shadow: 1px 2px 3px black;
    width: 30px;
    height: 30px;
    cursor: context-menu;
  }

  /*Configuração dos campos do corpo*/
  table > #body-tab > tr > td {
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.6dvi;
    color: rgb(243, 242, 242);
    text-shadow: 1px 2px 3px black;
    width: 30px;
    height: 30px;
    cursor: context-menu;
  }

  table > #body-tab > tr > #new_td {
    border: 1px solid black;
  }

  /*Código do produto*/
  table > #body-tab > tr > #code {
    text-transform: lowercase;
  }

  /*Span que contém os botões*/
  #span-buttons {
    position: absolute;
    transform: translateY(40vh);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  #span-buttons > button {
      padding: 3px;
      margin-left: 15px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 2.3dvi;
      border-width: 0px;
      border-radius: 15px;
      width: 12%;
      box-shadow: 1px 1px 4px black;
      cursor: pointer;
  }

    /*Personalização dos botões*/
    #span-buttons > #exc {
      background-color: rgba(0, 0, 0, 0.712);
      color: rgb(243, 242, 242);
      position: absolute;
      transform: translate(-16vw, 0vh);
  }

  /*Botão de editar*/
  #span-buttons > #edi {
    background-color: #ff3131;
    color: rgb(243, 242, 242);
    text-shadow: 1px 1px 2px black;
    display: none;
    position: absolute;
    transform: translate(-2vw, 0vh);
  }

  /*Botão de salvar*/
  #span-buttons > #sav {
    background-color: #00bf63;
    color: rgb(243, 242, 242);
    text-shadow: 1px 1px 2px black;
    position: absolute;
    transform: translate(12vw, 0vh);
  }
  /*Botão de salvar*/
  #span-buttons > #add { 
    border-radius: 1px;
    display: block;
    cursor: pointer;
    position: absolute;
    width: 3dvi;
  }

  /*Inputs*/
  tbody > tr > td > .input{
    background-color: transparent;
    border-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    width: 50px;
  }

  tbody > tr > td > #input-img{
    display: none;
  }

  tbody > tr > td > .label-input{
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    cursor: pointer;
    background-image: url('../buttons/upload.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-color: rgba(128, 0, 128, 0.301);
  }

    /*Imagem armazenada no banco*/
    tbody > tr > td > .img-uploaded{
      width: 30px;
      height: 30px;
    }

  /*Campo que vai exibir a imagem*/
  tbody > tr > td > .image{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
  }

  /*Input que abriga os novos dados*/
  tr > td > .new-input{
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-bottom-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  /*Ìcone do botão de editar*/
  #span-buttons > .bi-pencil-square{
    cursor: pointer;
  }
}