@charset "UTF-8";

@media (orientation:portrait) and (max-width: 600px) {
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}

span > p{
    text-align: center;
    background-image: linear-gradient(to bottom,#ff3131,#ffd34d);
    width: 120px;
    margin: auto;
    transform: translateY(10vh);
    border-radius: 20px;
    box-shadow: 2px 2px 7px black;
}

table{
    margin: auto;
    transform: translateY(20vh);
    width: 70%;
    border-collapse: collapse;
    box-shadow: 1px 2px 7px black;
}

table > #head-tab{
    height: 20px;
}

/*Configuração dos campos do cabeçalho*/
table > #head-tab > tr > th{
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.6dvi;
    font-weight: 400;
    text-transform: capitalize;
    color: rgb(243, 242, 242);
    text-shadow: 1px 2px 3px black;
    width: 30px;
    height: 30px;   
}

/*Configuração dos campos do corpo*/
table > #body-tab > tr > td{
    border: 1px solid black;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.6dvi;
    color: rgb(243, 242, 242);
    text-shadow: 1px 2px 3px black;
    width: 30px;
    height: 40px;  
}

table > #body-tab > tr > #code{
    text-transform: lowercase;
}

#buttons{
    border: 1px solid black;
    position: absolute;
    transform: translate(0vw,40vh);
    width: 100%;
    text-align: center;
}

#buttons > button{
padding: 10px;
}

}