@charset "UTF-8";

*{
    margin: 0%;
    padding: 0px;
}

body,html{
width: 70vw;
height: 90vh;
box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}

@media (min-width:600px) and (max-width: 768px){

    h1{
        margin-top: 10%;
        position: absolute;
        left: 35%;
        font-size: 5dvw;
    }

    div{
        background-color: rgb(252, 219, 209);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        margin: auto;
        display: block;
        width: 44vw;
        height: 30vh;
        position: relative;
        top: 40%;
        left: 25%;
        box-shadow: 2px 1px 10px rgb(10, 10, 10);
    }

    div > #first{
        margin: auto;
        display: block;
        position: relative;
        top: 35%;
        width: 50%;
        height: 15%;
    }

    div > #second{
        margin: auto;
        display: block;
        position: relative;
        top: 50%;
        width: 50%;
        height: 15%;
    }

    /*Acesso dos links*/
    div > button > #vendedor, #comprador{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(2, 2, 2);
        font-size: 2dvw;
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }

    div > #cliente{
        width: 2.5vw;
        position: absolute;
        transform: translate(20vw,11vh);
    }

    div > #supermercado{
        width: 6vw;
        height: 4vh;
        position: absolute;
        transform: translate(19vw,4vh);
    }
}

@media (min-width:768px) and (max-width: 992px){
    h1{
        margin-top: 10%;
        position: absolute;
        left: 35%;
        font-size: 5dvw;
    }

    div{
        background-color: rgb(252, 219, 209);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        margin: auto;
        display: block;
        width: 40vw;
        height: 34vh;
        position: relative;
        top: 40%;
        left: 23%;
        box-shadow: 2px 1px 10px rgb(10, 10, 10);
    }

    div > #first{
        margin: auto;
        display: block;
        position: relative;
        top: 35%;
        width: 50%;
        height: 15%;
    }

    div > #second{
        margin: auto;
        display: block;
        position: relative;
        top: 50%;
        width: 50%;
        height: 15%;
    }

    /*Acesso dos links*/
    div > button > #vendedor, #comprador{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(2, 2, 2);
        font-size: 1.5dvw;
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }

    div > #cliente{
        width: 2.5vw;
        position: absolute;
        transform: translate(18vw,11vh);
    }

    div > #supermercado{
        width: 6vw;
        height: 6vh;
        position: absolute;
        transform: translate(17vw,4vh);
    }
}

@media (min-width:992px) and (max-width: 1200px){
    h1{
        margin-top: 10%;
        position: absolute;
        left: 35%;
        font-size: 5dvw;
    }

    div{
        background-color: rgb(252, 219, 209);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        margin: auto;
        display: block;
        width: 35vw;
        height: 34vh;
        position: relative;
        top: 40%;
        left: 22%;
        box-shadow: 2px 1px 10px rgb(10, 10, 10);
    }

    div > #first{
        margin: auto;
        display: block;
        position: relative;
        top: 35%;
        width: 50%;
        height: 15%;
    }

    div > #second{
        margin: auto;
        display: block;
        position: relative;
        top: 50%;
        width: 50%;
        height: 15%;
    }

    /*Acesso dos links*/
    div > button > #vendedor, #comprador{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(2, 2, 2);
        font-size: 1.5dvw;
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }

    div > #cliente{
        width: 2vw;
        position: absolute;
        transform: translate(16vw,12vh);
    }

    div > #supermercado{
        width: 5vw;
        height: 6vh;
        position: absolute;
        transform: translate(15vw,4vh);
    }
}

@media (min-width: 1200px){
    h1{
        margin-top: 10%;
        position: absolute;
        left: 39%;
        font-size: 3em;
    }

    div{
        background-color: rgb(252, 219, 209);
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        margin: auto;
        display: block;
        width: 30vw;
        height: 38vh;
        position: relative;
        top: 40%;
        left: 22%;
        box-shadow: 2px 1px 10px rgb(10, 10, 10);
    }

    div > #first{
        margin: auto;
        display: block;
        position: relative;
        top: 35%;
        width: 40%;
        height: 14%;
    }

    div > #second{
        margin: auto;
        display: block;
        position: relative;
        top: 50%;
        width: 40%;
        height: 14%;
    }

    /*Acesso dos links*/
    div > button > #vendedor, #comprador{
        text-decoration: none;
        text-transform: uppercase;
        color: rgb(2, 2, 2);
        font-size: 1dvw;
        font-style: italic;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }

    div > #cliente{
        width: 1.5vw;
        position: absolute;
        transform: translate(14vw,14vh);
    }

    div > #supermercado{
        width: 4vw;
        height: 6vh;
        position: absolute;
        transform: translate(12vw,4vh);
        margin-left: 2%;
    }
}