@charset "UTF-8";
/*Configurações para tela do computador width minimo de 621px e max de 780px
Tive que diminuir o limite de largura máxima*/
@media (min-width:620px) and (max-width: 696px){

    body{
        background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
        background-attachment: fixed;
    }
    
    form{
        position: relative;
        height: 50vh;
        width: 75vw;
        top: 25%;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.909);
        box-shadow: 2px 1px 10px black;
        border-radius: 3px;
        height: 50vh;
        width: 75vw; 
    }
    
    form > ul > li{
        list-style: none;
    }
    
    form > ul{
        position: relative;
        margin: auto;
        top: 35%;
        width: 50vw;
        height: 10vh;
    }

    form > ul > li > #gmail-icon{
        width: 21px;
        height: 21px;
        position: absolute;
        right: 95%;
        bottom: 65%;
        margin-right: 5px;
        z-index: 1;
        filter: hue-rotate(44deg);
        cursor: context-menu;
    }

    form > ul > li > #lock-icon{
        width: 21px;
        height: 21px;
        position: absolute;
        top: 75%;
        right: 98%;
        z-index: 1;
        filter: hue-rotate(96deg);
        cursor: context-menu;
    }
    
    /*Esses são os campos onde vão receber os dados*/
    
    form > ul > li > input{
        position: relative;
        right: 2%;
        width: 99%;
        height: 50%;
        padding-top: 4%;
        padding-bottom: 4%;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.675);
        border-radius: 3px;
        text-align: center;
    }
    
    form > ul > li > input::placeholder{
        color: rgba(39, 39, 149, 0.94);
        font-size: 0.8em;
        font-weight: 600;
    }
    
    form > ul > li > #senha{
        margin-top: 15px;
    }
    
    form > button{
        width: 25%;
        height: 30px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.623);
        border-radius: 25px;
        font-size: 0.7em;
        font-weight: 600;
        margin-right: 15px;
        position: relative;
        transform: translate(17vw,30vh);
        cursor: pointer;
    }
}

 /*Configurações para tela do computador width minímo de 697px
 Vou ter que alterar mais propriedades, a lista está torta, os ícones estão indo para dentro dos botões*/
 @media (min-width:697px){
    body{
        background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
        background-attachment: fixed;  
    }

    form{
        position: relative;
        transform: translate(24vw,20vh
        );
        background-color: rgba(255, 255, 255, 0.909);
        box-shadow: 2px 1px 10px black;
        border-radius: 3px;
        height: 60vh;
        width: 50vw; 
    }

    form > ul > li{
        list-style: none;
    }
    
    form > ul{
        /*border: 0px solid purple;*/
        transform: translate(15vw,24vh);
        width: 25vw;
        height: 10vh;
    }

    form > ul > li > #gmail-icon{
        width: 23px;
        height: 23px;
        position: absolute;
        top: 10%;
        right: 106%;
        filter: hue-rotate(44deg);
    }

    form > ul > li > #lock-icon{
        width: 21px;
        height: 21px;
        position: absolute;
        top: 100%;
        right: 106%;
        z-index: 1;
        filter: hue-rotate(96deg);
    }

    /*Esses são os campos onde vão receber os dados*/
    
    form > ul > li > input{
        position: relative;
        right: 15%;
        width: 70%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.675);
        border-radius: 3px;
        text-align: center;
        cursor: context-menu;
    }

    form > ul > li > input::placeholder{
        color: rgba(39, 39, 149, 0.94);
        font-size: 0.8em;
        font-weight: 600;
    }

    form > ul > li > #gmail{
        height: 25px;
        margin-bottom: 10px;
    }
    
    form > ul > li > #senha{
        margin-top: 15px;
        height: 25px;
    }

    form > button{
        width: 25%;
        height: 30px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.623);
        border-radius: 25px;
        font-size: 0.7em;
        font-weight: 600;
        margin-right: 15px;
        position: relative;
        transform: translate(12vw,36vh);
        cursor: pointer;
    }

    .quadro_a{
        border: 2px solid black;
        width: 25vw;
        height: 11vh;
        display: block;
        animation: alert 2s ease-in 1s 1;
        border-radius: 6px;
        border-top: none;
        border-right-style: hidden;
        border-bottom-width: 2px;
        border-left-style: hidden;
        background-color: rgba(0, 255, 255, 0.219);
        padding-top: 2px;
        position: absolute;
        transform: translate(36vw,-20vh);
     }

     @keyframes alert {
        from{
            opacity: 0%;
            transform: scale(90%);
        }
        to{
            opacity: 100%;
            transform: scale(100%);
        }
     }

     .frase_a{
        text-align: center;
        animation: frase 2s ease-out 1;
        font-size: 1em;
        padding-top: 2%;
     }

     @keyframes frase {
        from{
            opacity: 0%;      
        }
        to{
            opacity: 100%;
        }
     }
 }
