@charset "UTF-8";
/*Essa configuração vai até 600px de width*/
*{
    margin: 0%;
    padding: 0px;
}

body,html{
    width: 70vw;
    height: 100vh;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}

form{
    position: relative;
    background-color: rgba(255, 255, 255, 0.909);
    box-shadow: 2px 1px 10px black;
    border-radius: 3px;
    height: 50vh;
    width: 85vw;
    top: 25%;
    left: 10%;
    margin: auto;
}

form > ul > li{
    list-style: none;
}

form > ul{
    position: relative;
    margin: auto;
    top: 35%;
    width: 50vw;
    height: 10vh;
}

/*Configurações dos ícones*/
form > ul > li > #gmail-icon{
    width: 21px;
    height: 15px;
    position: absolute;
    top: 6px;
    right: 100%;
    margin-right: 10px;
    filter: hue-rotate(44deg);
}

form > ul > li > #lock-icon{
    width: 17px;
    height: 21px;
    position: relative;
    top: 38px;
    right: 28px;
    filter: hue-rotate(96deg);
}

/*Esses são os campos onde vão receber os dados*/

form > ul > li > input{
    width: 100%;
    height: 12px;
    padding-top: 2%;
    padding-bottom: 4%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.675);
    border-radius: 3px;
    text-align: center;
}

form > ul > li > input::placeholder{
    color: rgba(39, 39, 149, 0.94);
    font-size: 0.8em;
    font-weight: 600;
}

form > ul > li > #gmail{
    margin-bottom: 15px;
}

form > ul > li > #senha{
    margin-top: 10px;
}

form > button{
    width: 25%;
    height: 7%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.623);
    border-radius: 25px;
    font-size: 2dvw;
    font-weight: 400;
    position: relative;
    transform: translate(18vw,32vh);
}

form > #cad{
margin-left: 5%;
}

/*Classe do quadro de aviso dos dados inválidos criado*/
.advice{
    width: 50vw;
    height: 150px;
    display: block;
    margin: auto;
    transform: translateY(-50vh);
    box-shadow: 0px -4px 6px black inset;
    background-color: white;
    border-radius: 12px;

    animation-name: alert;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1; 
}

@keyframes alert {
    from{
        opacity: 0%;
        width: 50vw;
        height: 150px;      
    }
    to{
        opacity: 100%;
        width:  50vw;
        height: 150px;
    }
}

/*ID do parágrafo contido no aqudro de aviso*/
#alert{
    color: rgb(10, 10, 10);
    font-size: 1rem;
    text-align: center;
    transform: translateY(50px);
}