@charset "UTF-08";
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1{
    cursor: context-menu;
}

@media (min-width:600px) and (max-width:768px){
    h1{
        text-align: center;
        color: rgb(250, 248, 248);
        text-shadow: 1px 2px 4px var(--font_color);
        margin-top: 10%;
    }

    /*Div que está todos os dados*/
    #company-dates{
        box-shadow: 4px 4px 15px rgb(19, 14, 14);
        width: 550px;
        height: 800px;
        background-color: rgba(255, 255, 255, 0.793);
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 25px;
        border-radius: 10px;
    }
    
    /*Lista com os campos*/
    #company-dates > ul{
        width: 100%;
        height: 100%;
    }
    
    /*Lista e parágrafos*/
    #company-dates > ul > li{
        list-style: none;
        margin: auto;
        cursor: context-menu;
    }
    
    /*Estilo das letras do parágrafo*/
    #company-dates > ul > .par{
        text-transform: uppercase;
        text-align: left;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-style: oblique;
        color: rgb(43, 36, 36);
        cursor: context-menu;
    }
    
    /*Imagem da empresa*/
    #company-dates > ul > #image{
        box-shadow: 2px 2px 10px rgba(98, 139, 146, 0.646);
        border-radius: 50%;
        width: 100px; height: 100px;
        margin: auto;
        transform: translateY(7vh);
        background-color: black;
        background-image: url('/imagens/icons/store-min.jpg');
        background-size: cover;/*Vi esta dica em um comentário*/
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(90%);
    }
    
    /*Nome da Empresa(parágrafo)*/
    #company-dates > ul > #par-name{
        position: absolute;
        transform: translate(150px, 85px);
    }
    /*Nome da Empresa(lista)*/
    #company-dates > ul > #name{
        transform: translateY(110px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*Nome da Empresa(span)*/
    #company-dates > ul > #name > #span-name{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
        text-transform: capitalize;
    }
    
    /*Nome do responsável(parágrafo)*/
    #company-dates > ul > #par-manager{
        position: absolute;
        transform: translate(150px, 115px);
    }
    /*Nome do responsável(lista)*/
    #company-dates > ul > #manager{
        transform: translateY(145px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*Nome do responsável(span)*/
    #company-dates > ul > #manager > #span-manager{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
        text-transform: capitalize;
    }
    
    /*CNPJ(parágrafo)*/
    #company-dates > ul > #par-cnpj{
        position: absolute;
        transform: translate(150px, 150px);
    }
    /*CNPJ(lista)*/
    #company-dates > ul > #cnpj{
        transform: translateY(180px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*CNPJ(span)*/
    #company-dates > ul > #cnpj > #span-cnpj{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    }
    
    /*Localização(parágrafo)*/
    #company-dates > ul > #par-location{
        position: absolute;
        transform: translate(150px, 186px);
    }
    /*Localização(lista)*/
    #company-dates > ul > #local{
        transform: translateY(215px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*Localização(span)*/
    #company-dates > ul > #local > #span-local{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
        text-transform: capitalize;
    }
    
    /*Telefone fixo(parágrafo)*/
    #company-dates > ul > #par-tel{
        position: absolute;
        transform: translate(150px, 220px);
    }
    /*Telefone fixo(lista)*/
    #company-dates > ul > #tel{
        transform: translateY(250px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 24px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);    
    }
    /*Telefone fixo(span)*/
    #company-dates > ul > #tel > #span-tel{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    } 
    
    /*Telefone privado(parágrafo)*/
    #company-dates > ul > #par-private{
        position: absolute;
        transform: translate(150px, 255px);
    }
    /*Telefone privado(lista)*/
    #company-dates > ul > #private{
        transform: translateY(290px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);    
    }
    /*Telefone privado(span)*/
    #company-dates > ul > #private > #span-private{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    } 
    
    /*Email(parágrafo)*/
    #company-dates > ul > #par-email{
        position: absolute;
        transform: translate(150px, 290px);
    }
    /*Email(lista)*/
    #company-dates > ul > #email{
        transform: translateY(320px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);    
    }
    /*Email(span)*/
    #company-dates > ul > #email > #span-email{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    }
    
    /*Senha (parágrafo)*/
    #company-dates > ul > #par-password{
        position: absolute;
        transform: translate(150px, 325px);
    }
    /*Senha (lista)*/
    #company-dates > ul > #password{
        transform: translateY(350px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);
    }
    /*Senha (span)*/
    #company-dates > ul > #password > #span-password{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    }
    
    /*Botão de editar*/
    #edit{
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(94, 33, 113);
        padding: 5px 10px 5px 10px;
        display: block;
        margin: auto;
        transform: translateY(4vh);
        cursor: pointer;
        border-width: 0px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px black;
        width: 150px; height: 25px;
    }
    /*Botão save que está dentro do evento do botão "Editar"*/
    #save{
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(94, 33, 113);
        padding: 5px 10px 5px 10px;
        display: block;
        margin: auto;
        transform: translateY(4vh);
        cursor: pointer;
        border-width: 0px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px black;
        width: 150px; height: 25px;
    }
}

@media (min-width:768px){
    h1{
        text-align: center;
        color: rgb(250, 248, 248);
        text-shadow: 1px 2px 4px var(--font_color);
        margin-top: 7%;
    }
    /*Div que está todos os dados*/
    #company-dates{
        box-shadow: 4px 4px 15px rgb(19, 14, 14);
        width: 550px;
        height: 800px;
        background-color: rgba(255, 255, 255, 0.793);
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 25px;
        border-radius: 10px;
    }
    
    /*Lista com os campos*/
    #company-dates > ul{
        width: 100%;
        height: 100%;
    }
    
    /*Lista e parágrafos*/
    #company-dates > ul > li{
        list-style: none;
        margin: auto;
        cursor: context-menu;
    }
    
    /*Estilo das letras do parágrafo*/
    #company-dates > ul > .par{
        text-transform: uppercase;
        text-align: left;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-style: oblique;
        color: rgb(43, 36, 36);
        cursor: context-menu;
    }
    
    /*Imagem da empresa*/
    #company-dates > ul > #image{
        box-shadow: 2px 2px 10px rgba(98, 139, 146, 0.646);
        border-radius: 50%;
        width: 100px; height: 100px;
        margin: auto;
        transform: translateY(7vh);
        background-color: black;
        background-image: url('/imagens/icons/store-min.jpg');
        background-size: cover;/*Vi esta dica em um comentário*/
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(90%);
    }
    
    /*Nome da Empresa(parágrafo)*/
    #company-dates > ul > #par-name{
        position: absolute;
        transform: translate(150px, 85px);
    }
    /*Nome da Empresa(lista)*/
    #company-dates > ul > #name{
        transform: translateY(110px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*Nome da Empresa(span)*/
    #company-dates > ul > #name > #span-name{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
        text-transform: capitalize;
    }
    
    /*Nome do responsável(parágrafo)*/
    #company-dates > ul > #par-manager{
        position: absolute;
        transform: translate(150px, 115px);
    }
    /*Nome do responsável(lista)*/
    #company-dates > ul > #manager{
        transform: translateY(145px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*Nome do responsável(span)*/
    #company-dates > ul > #manager > #span-manager{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
        text-transform: capitalize;
    }
    
    /*CNPJ(parágrafo)*/
    #company-dates > ul > #par-cnpj{
        position: absolute;
        transform: translate(150px, 150px);
    }
    /*CNPJ(lista)*/
    #company-dates > ul > #cnpj{
        transform: translateY(180px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*CNPJ(span)*/
    #company-dates > ul > #cnpj > #span-cnpj{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    }
    
    /*Localização(parágrafo)*/
    #company-dates > ul > #par-location{
        position: absolute;
        transform: translate(150px, 186px);
    }
    /*Localização(lista)*/
    #company-dates > ul > #local{
        transform: translateY(215px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646); 
    }
    /*Localização(span)*/
    #company-dates > ul > #local > #span-local{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
        text-transform: capitalize;
    }
    
    /*Telefone fixo(parágrafo)*/
    #company-dates > ul > #par-tel{
        position: absolute;
        transform: translate(150px, 220px);
    }
    /*Telefone fixo(lista)*/
    #company-dates > ul > #tel{
        transform: translateY(250px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 24px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);    
    }
    /*Telefone fixo(span)*/
    #company-dates > ul > #tel > #span-tel{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    } 
    
    /*Telefone privado(parágrafo)*/
    #company-dates > ul > #par-private{
        position: absolute;
        transform: translate(150px, 255px);
    }
    /*Telefone privado(lista)*/
    #company-dates > ul > #private{
        transform: translateY(290px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);    
    }
    /*Telefone privado(span)*/
    #company-dates > ul > #private > #span-private{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    } 
    
    /*Email(parágrafo)*/
    #company-dates > ul > #par-email{
        position: absolute;
        transform: translate(150px, 290px);
    }
    /*Email(lista)*/
    #company-dates > ul > #email{
        transform: translateY(320px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);    
    }
    /*Email(span)*/
    #company-dates > ul > #email > #span-email{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    }
    
    /*Senha (parágrafo)*/
    #company-dates > ul > #par-password{
        position: absolute;
        transform: translate(150px, 325px);
    }
    /*Senha (lista)*/
    #company-dates > ul > #password{
        transform: translateY(350px);
        box-shadow: 2px 2px 10px rgb(36, 30, 30);
        width: 270px; height: 22px;
        border-radius: 10px;
        background-color: rgba(98, 139, 146, 0.646);
    }
    /*Senha (span)*/
    #company-dates > ul > #password > #span-password{
        font-size: 18px;
        color: rgba(245, 245, 245, 0.742);
        text-shadow: 1px 1px 2px black;
        border-width: 0px;
        border-radius: 10px;
        width: 99%; height: 22px;
    }
    
    /*Botão de editar*/
    #edit{
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        color: rgb(94, 33, 113);
        padding: 5px 10px 5px 10px;
        display: block;
        margin: auto;
        transform: translateY(9vh);
        cursor: pointer;
        border-width: 0px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px black;
        width: 150px; height: 25px;
    }
    /*Botão save que está dentro do evento do botão "Editar"*/
    #save{
        text-transform: uppercase;
        font-size: 13px;
        color: rgb(94, 33, 113);
        padding: 5px 10px 5px 10px;
        display: block;
        margin: auto;
        transform: translateY(9vh);
        cursor: pointer;
        border-width: 0px;
        border-radius: 5px;
        box-shadow: 2px 2px 10px black;
        width: 150px; height: 25px;
    }
}