@charset "UTF-08";

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
    width: 100vw;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@media (max-width: 600px){

h1{
    text-align: center;
    color: rgb(250, 248, 248);
    text-shadow: 1px 2px 4px var(--font_color);
    margin-top: 10%;
}

/*Div que está todos os dados*/
#company-dates{
    box-shadow: 4px 4px 15px rgb(19, 14, 14);
    width: 80vw;
    height: 120vh;
    background-color: rgba(255, 255, 255, 0.781);
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
}

/*Lista com os campos*/
#company-dates > ul{
    width: 100%;
    height: 100%;
}

/*Lista e parágrafos*/
#company-dates > ul > li{
    list-style: none;
    margin: auto;
    cursor: context-menu;
}

/*Estilo das letras do parágrafo*/
#company-dates > ul > .par{
    text-transform: uppercase;
    text-align: left;
    font-size: 2dvi;
    font-style: oblique;
    color: rgb(43, 36, 36);
    cursor: context-menu;
}

/*Imagem da empresa*/
#company-dates > ul > #image{
    box-shadow: 2px 2px 10px rgba(98, 139, 146, 0.646);
    border-radius: 50%;
    width: 100px; height: 100px;
    margin: auto;
    transform: translateY(7vh);
    background-color: black;
    background-image: url('/imagens/icons/store-min.jpg');
    background-size: cover;/*Vi esta dica em um comentário*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(90%);
}

/*Empresa(parágrafo)*/
#company-dates > ul > #par-name{
    position: absolute;
    transform: translate(20vw, 12vh);
}
/*Empresa(lista)*/
#company-dates > ul > #name{
    transform: translateY(15vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646); 
}
/*Empresa(span)*/
#company-dates > ul > #name > #span-name{
    font-size: 3dvi;
    color: rgba(245, 245, 245, 0.742);
    text-shadow: 1px 1px 2px black;
    border-width: 0px;
    border-radius: 10px;
    width: 99%; height: 22px;
    text-transform: capitalize;
}

/*Responsável(parágrafo)*/
#company-dates > ul > #par-manager{
    position: absolute;
    transform: translate(20vw, 16vh);
}
/*Responsável(lista)*/
#company-dates > ul > #manager{
    transform: translateY(20vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646); 
}
/*Responsável(span)*/
#company-dates > ul > #manager > #span-manager{
font-size: 3dvi;
color: rgba(245, 245, 245, 0.742);
text-shadow: 1px 1px 2px black;
border-width: 0px;
border-radius: 10px;
width: 99%; height: 22px;
text-transform: capitalize;
}

/*CNPJ(parágrafo)*/
#company-dates > ul > #par-cnpj{
    position: absolute;
    transform: translate(20vw, 22vh);
}
/*CNPJ(lista)*/
#company-dates > ul > #cnpj{
    transform: translateY(25vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646); 
}
/*CNPJ(span)*/
#company-dates > ul > #cnpj > #span-cnpj{
font-size: 3dvi;
color: rgba(245, 245, 245, 0.742);
text-shadow: 1px 1px 2px black;
border-width: 0px;
border-radius: 10px;
width: 99%; height: 22px;
}

/*Localização(parágrafo)*/
#company-dates > ul > #par-location{
    position: absolute;
    transform: translate(20vw, 26vh);
}
/*Localização(lista)*/
#company-dates > ul > #local{
    transform: translateY(30vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646); 
}
/*Localização(span)*/
#company-dates > ul > #local > #span-local{
font-size: 3dvi;
color: rgba(245, 245, 245, 0.742);
text-shadow: 1px 1px 2px black;
border-width: 0px;
border-radius: 10px;
width: 99%; height: 22px;
text-transform: capitalize;
}

/*Telefone fixo(parágrafo)*/
#company-dates > ul > #par-tel{
    position: absolute;
    transform: translate(20vw, 31vh);
}
/*Telefone fixo(lista)*/
#company-dates > ul > #tel{
    transform: translateY(35vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646);    
}
/*Telefone fixo(span)*/
#company-dates > ul > #tel > #span-tel{
    font-size: 3dvi;
    color: rgba(245, 245, 245, 0.742);
    text-shadow: 1px 1px 2px black;
    border-width: 0px;
    border-radius: 10px;
    width: 99%; height: 22px;
} 

/*Telefone privado(parágrafo)*/
#company-dates > ul > #par-private{
    position: absolute;
    transform: translate(20vw, 36vh);
}
/*Telefone privado(lista)*/
#company-dates > ul > #private{
    transform: translateY(40vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646);    
}
/*Telefone privado(span)*/
#company-dates > ul > #private > #span-private{
    font-size: 3dvi;
    color: rgba(245, 245, 245, 0.742);
    text-shadow: 1px 1px 2px black;
    border-width: 0px;
    border-radius: 10px;
    width: 99%; height: 22px;
} 

/*Email(parágrafo)*/
#company-dates > ul > #par-email{
    position: absolute;
    transform: translate(20vw, 42vh);
}
/*Email(lista)*/
#company-dates > ul > #email{
    transform: translateY(45vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646);    
}
/*Email(span)*/
#company-dates > ul > #email > #span-email{
    font-size: 3dvi;
    color: rgba(245, 245, 245, 0.742);
    text-shadow: 1px 1px 2px black;
    border-width: 0px;
    border-radius: 10px;
    width: 99%; height: 22px;
}

/*Senha (parágrafo)*/
#company-dates > ul > #par-password{
position: absolute;
transform: translate(20vw, 47vh);
}
/*Senha (lista)*/
#company-dates > ul > #password{
    transform: translateY(50vh);
    box-shadow: 2px 2px 10px rgb(36, 30, 30);
    width: 55%; height: 22px;
    border-radius: 10px;
    background-color: rgba(98, 139, 146, 0.646);
}
/*Senha (span)*/
#company-dates > ul > #password > #span-password{
    font-size: 3dvi;
    color: rgba(245, 245, 245, 0.742);
    text-shadow: 1px 1px 2px black;
    border-width: 0px;
    border-radius: 10px;
    width: 99%; height: 22px;
}

/*Botão de editar*/
#edit{
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(88, 33, 113);
    padding: 5px 10px 5px 10px;
    display: block;
    margin: auto;
    transform: translateY(4vh);
    cursor: pointer;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

/*Botão save que está dentro do evento do botão "Editar"*/
#save{
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(88, 33, 113);
    padding: 5px 10px 5px 10px;
    display: block;
    margin: auto;
    transform: translateY(4vh);
    cursor: pointer;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}
}