@charset "UTF-08";

@media (max-width:600px){

    *{
        margin: 0%;
        padding: 0px;
    }

    body,html{
        width: 90vw; height: 85vh;
    }

    body{
        background-color: rgba(252, 212, 239, 0.644);
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5dvi;
        font-weight: 300;
        color: rgb(243, 249, 249);
        text-shadow: 1px 1px 3px black;
        text-align: center;
        transform: translateY(25vh);
    }
/*Barra de pesquisa do produto*/
    #search{
        box-shadow: 2px 1px 7px black;
        border-radius: 10px;
        width: 30%;
        position: absolute;
        top: 40%;
        left: 30%;
        background-color: white;
        padding: 2px 4px 2px;
    }

/*Input*/
    #search > form > #product{
        width: 85%;
        border-radius: 6px;
        border: none;
    }

/*Lupa da barra de pesquisa*/
    #search > form > .bi-search{
        font-size: 3dvi;
        position: absolute;
        left: 84%;
        margin:1px 6px 3px 2px;
        cursor: pointer;
    }
    
/*Campo aonde vai aparecer os produtos*/
    #search > #field-sel{
    display: none;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    }
}