@charset "UTF-08";

@media (max-width:600px){

    *{
        margin: 0%;
        padding: 0px;
    }

    body,html{
        width: 90vw; height: 85vh;
    }

    body{
        background-color: rgba(252, 212, 239, 0.644);
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5dvi;
        font-weight: 300;
        color: rgb(243, 249, 249);
        text-shadow: 1px 1px 3px black;
        text-align: center;
        transform: translateY(25vh);
    }
/*Barra de pesquisa do produto*/
    #search{
        box-shadow: 2px 1px 7px black;
        border-radius: 10px;
        width: 30%;
        position: absolute;
        top: 40%;
        left: 30%;
        background-color: white;
        padding: 2px 4px 2px;
    }

/*Input*/
    #search > form > #product{
        width: 85%;
        border-radius: 6px;
        border: none;
    }

    #search > form > #product:focus{
        outline: 0;
    }

/*Lupa da barra de pesquisa*/
    #search > form > .bi-search{
        font-size: 3dvi;
        position: absolute;
        left: 84%;
        margin:1px 6px 3px 2px;
        cursor: pointer;
    }
    
/*Campo aonde vai aparecer os produtos*/
    #search > #field-sel{
    display: none;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    }

/*Options*/
#search > #field-sel > .data{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

/*Quadro do preço novo*/
.price-box{
    width: 35vw;
    height: 15vh;
    box-shadow: 1px 1px 6px black inset;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    transform: translate(30vw, 15vh);
}

/*Input criado para por o no valor*/
.price-box > #new-price{
    width: 55%;
    border-radius: 6px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid;
    display: block;
    margin: auto;
    transform: translateY(37px);
    height: 15px;
    text-align: center;
    background-color: #80922038;
}
/*Paragráfo onde aparece o código*/
.price-box > #code-prod{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2dvi;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #010200;
    transform: translateY(60px);
}

/*Botão de salvar*/

.price-box > .bi-floppy-fill{
    font-size: 2.5dvi;
    cursor: pointer;
    position: absolute;
    left: 85%;
    top: 31%;
    background-color: #edc511;
    border-radius: 4px;
    border: 1px solid #2f2e2e;
}
}