@charset "UTF-08";

body,
html {
  width: 90vw;
  height: 100vh;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
  background-attachment: fixed;
}

@media (min-width: 600px) and (max-width: 768px) {
  #main {
    box-shadow: 2px 5px 20px rgb(189, 170, 129) inset;
    border-radius: 10px;
    width: 80%;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.909);
    display: block;
    margin: auto;
    transform: translate(5vw, 15vh);
  }

  #main > #title {
    text-align: left;
    padding: 30px 0px 1px 50px;
    color: rgb(43, 7, 97);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
  }

  #main > span {
    display: flex;
  }

  :root {
    --cor: linear-gradient(to bottom, #ff3131, #ffd34d);
  }

  #main > span > .a-encomenda {
    text-align: start;
    padding-top: 1px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(12, 7, 21);
    border-width: 2px;
    border-style: solid;
    border-image: var(--cor);
    border-image-slice: 1;
  }

  #main > span > .par-hora {
    text-align: end;
    position: absolute;
    transform: translate(50vw, 1vh);
    padding-left: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #main {
    box-shadow: 2px 5px 20px rgb(189, 170, 129) inset;
    border-radius: 10px;
    width: 550px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.909);
    display: block;
    margin: auto;
    transform: translate(5vw, 15vh);
  }

  #main > #title {
    text-align: left;
    padding: 30px 0px 1px 50px;
    color: rgb(43, 7, 97);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
  }

  #main > span {
    display: flex;
  }

  :root {
    --cor: linear-gradient(to bottom, #ff3131, #ffd34d);
  }

  #main > span > .a-encomenda {
    text-align: start;
    padding-top: 1px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(12, 7, 21);
    border-width: 2px;
    border-style: solid;
    border-image: var(--cor);
    border-image-slice: 1;
  }

  #main > span > .par-hora {
    text-align: end;
    position: absolute;
    left: 70%;
    padding-left: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #main {
    box-shadow: 2px 5px 20px rgb(189, 170, 129) inset;
    border-radius: 10px;
    width: 550px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.909);
    display: block;
    margin: auto;
    transform: translate(5vw, 15vh);
  }

  #main > #title {
    text-align: left;
    padding: 30px 0px 1px 50px;
    color: rgb(43, 7, 97);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 600;
  }

  #main > span {
    display: flex;
  }

  :root {
    --cor: linear-gradient(to bottom, #ff3131, #ffd34d);
  }

  #main > span > .a-encomenda {
    text-align: start;
    padding-top: 1px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(12, 7, 21);
    border-width: 2px;
    border-style: solid;
    border-image: var(--cor);
    border-image-slice: 1;
  }

  #main > span > .par-hora {
    text-align: end;
    position: absolute;
    left: 70%;
    padding-left: 40px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
  }
}
@media (min-width:1200px){
    #main {
        box-shadow: 2px 5px 20px rgb(189, 170, 129) inset;
        border-radius: 10px;
        width: 550px;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.909);
        display: block;
        margin: auto;
        transform: translate(5vw, 15vh);
      }
    
      #main > #title {
        text-align: left;
        padding: 30px 0px 1px 50px;
        color: rgb(43, 7, 97);
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 1em;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: 600;
      }
    
      #main > span {
        display: flex;
      }
    
      :root {
        --cor: linear-gradient(to bottom, #ff3131, #ffd34d);
      }
    
      #main > span > .a-encomenda {
        text-align: start;
        padding-top: 1px;
        margin-top: 20px;
        margin-left: 50px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
        text-decoration: none;
        color: rgb(12, 7, 21);
        border-width: 2px;
        border-style: solid;
        border-image: var(--cor);
        border-image-slice: 1;
      }
    
      #main > span > .par-hora {
        text-align: end;
        position: absolute;
        left: 70%;
        padding-left: 40px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
      }
}