
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1.300;1.400;1.500;1.600;1.700;1.800;1.900&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #ffce51, #ff7253, #fd5754);
}
/*width=largura e heigh=altura*/

.container {
    position: relative;
    top: 40%; /*menor sobe e menor desce a tela branca no fundo do formulário*/
    left: 15%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 60px; /*deixa maior*/
    width: 300px;
    text-align: center; /* Centralizando o conteúdo */
    color: #2b344b;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagar {
  padding: 10px;
  font-family: 'poppins', sans-serif;
  background:  linear-gradient(-45deg, #ffce51, #ff7253,#fd5754);
  width: 100%;
  height: 40px;
  border: none;
  font-size: 1.2em;
  color: #fff;
  border-radius: 20px;
  outline: none;
  cursor: pointer; /*animação da mão*/
  transition: background-color 0.3s ease; /*animação quando o nouse passa por cina do button*/
}

button:hover {
  background-color: #0056b3;
}
