@charset "UTF-08";

body {
  background-image: linear-gradient(to top, #f5f40dd9, #50ccde);
  background-attachment: fixed;
}

html{
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 730px) {
    body {
      background-color:  rgb(252, 11, 11);
    }
} 

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar > .logo > img{
  width: 25%;
  margin-left: 20px;
}

header {
  background-color: #24252a;
  box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 7px 40px; /*o 7px deixa a nav maior e 40px afasta a logo da ponta*/
}

.logo {
  display: flex;
  align-items: center; 
  color: #fff;
}

.nav-list {
  display: flex;
  align-items: center; /*deixa centralizado*/
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none; /*tirar a bolinha*/
}

.nav-item {
  margin: 0 15px; /*deixa afastado um do outro*/
}

.nav-link {
  text-decoration: none; /*tira a linha que mostra do link*/
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

/*BOTÃO DO MENU*/

.login-buttons {
  display: flex;
}

.login-button {
  margin-left: 15px; /* Ajustei a margem para separar os botões */
}

.login-button button {
  border: none;  /*zerar o estilo*/
  padding: 10px 15px; /*10px altura e 15px largura*/
  border-radius: 5px; /*deixar aredondado*/
  background-color: #0187a7;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/*JAVASCRIPT DO MENU*/

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
      display: block;
      padding: 1rem 4rem;
  }
  .mobile-menu .login-button button {
      width: 100%;
      margin-top: 10px;
  }
  .open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*CAROUSEL*/
@media only screen and (max-width: 730px) {

.w-100 {
height: 50vh; /*Altura do Carousel*/
}

.carousel-inner img {
width: 100%; /* Defina a largura das imagens do carousel como 100% para ocupar toda a largura */
}
} 

/*BOTÃO DE LINK DOS PRODUTOS*/

.lista {
  background-color: #333;
  width: 100%; /* Ajuste para ocupar a largura total da tela */
  text-align: center; /* Centralizar os itens na horizontal */
  font-family: Arial, Helvetica, sans-serif;
}

.item {
  display: inline-block; /* Exibir os itens em linha, fazendo ficar um do lado do outro */
  padding: 14px 50px; /*altura 14px e largura 16px*/ 
  text-decoration: none;
  color: #f2f2f2;
  text-align: center;
}

.link {
  text-decoration: none; /*tira a linha que mostra do link*/
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

@media only screen and (max-width: 730px) {
  .lista {
      background-color: #333;
      width: 100%; /* Ajuste para ocupar a largura total da tela */
      text-align: center; /* Centralizar os itens na horizontal */
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .item {
      display: inline-block; /* Exibir os itens em linha, fazendo ficar um do lado do outro */
      padding: 14px 50px; /*altura 14px e largura 16px*/ 
      
      text-decoration: none;
      color: #f2f2f2;
      text-align: center;
    }
    
    .link {
      text-decoration: none; /*tira a linha que mostra do link*/
      font-size: 1.15rem;
      color: #fff;
      font-weight: 400;
    }
}   

/*CARD*/

.card-container {
    text-align: center; /* Centraliza os cards horizontalmente */
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 240px; /* Largura dos cards */
    height: 300px; /* Altura dos cards */
    border-radius: 5px;
    text-align: center;
    margin: 35px 35px; /* Margem entre os cards deixando 4 em cima e 4 em baixo*/
    background-color: white;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
.container {
    padding: 20px 10px; /* 20px altura da e botão do card e 10px largura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container h2,
  .container h3 {
    font-size: 25px; /* Tamanho da fonte para todo o texto dentro do card */
  } 

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 7px; /*Tamanho do botão*/
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 150px; /*diminuir ou aumentar o botão*/
    font-size: 18px; /*Tamanho da Letra do Botão*/
    border-radius: 5px;
  }
  
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
/*PARAGRAFO NOME PROMOÇÃO*/
.promocao {
    text-align: center;
    margin: 20px;
    font-size: 1rem;
  }

/*RODAPÉ*/

footer {
    background-color: #24252a;
    color: #fff;
    padding: 30px;
    text-align: center;
    z-index: 2; /* Adicionado z-index para garantir que o rodapé esteja acima dos outros elementos */
  }
  
  .conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-rodape h1 {
    font-size: 1.5rem;
  }
  
  .links-rodape ul {
    list-style: none;
    padding: 0;
  }
  
  .links-rodape li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .links-rodape a {
    text-decoration: none;
    color: #fff;
  }
  
  .redes-sociais a {
    display: inline-block;
    margin-left: 30px; /*deixa os ícones afastado um do outro*/
    text-decoration: none; /*tira a linha que mostra do link*/
  }
  
  .redes-sociais{
    width: 100px; /*largura*/
    height: 30px; /*altura*/
    right: 25vw;
    transform: translateX(20vw);
    position: relative;
  }
  
  /*PARTE DOS ÍCONES DAS REDES SOCIAIS*/
  footer > .conteudo-rodape > .redes-sociais > .bi-facebook, .bi-instagram, .bi-twitter-x, .bi-whatsapp{
    font-size: 20px;
    cursor: pointer;
    top: -13%;
  }

  footer > .conteudo-rodape > .redes-sociais > .bi-facebook{
    position: relative;
    right: 40%;
    bottom: 50%;
  }

  footer > .conteudo-rodape > .redes-sociais > .bi-instagram{
    position: relative;
    right: 25%;
    bottom: 50%;
  }

  footer > .conteudo-rodape > .redes-sociais > .bi-twitter-x{
    position: relative;
    right: 15%;
    bottom: 50%;
  }
  footer > .conteudo-rodape > .redes-sociais > .bi-whatsapp{
    position: relative;
    left: 40%;
    bottom: 10%;
  }

  .conteudo-rodape > .logo-rodape > img{
    width: 30%;
    margin-bottom: 7px;
  }
  /*RODAPÉ RESPONSIVO*/
  
  @media only screen and (max-width: 730px) {
    footer {
        flex-direction: column;
        text-align: center;
        position: relative; /* Adicionado position: relative para garantir que o z-index funcione corretamente */
        z-index: 2; /* Adicionado z-index para garantir que o rodapé esteja acima dos outros elementos */
    }
  
    .conteudo-rodape {
        flex-direction: column;
    }
  
    .links-rodape li {
        display: block;
        margin-bottom: 10px;
    }

    /*PARTE DOS ÍCONES DAS REDES SOCIAIS*/
    footer > .conteudo-rodape > .redes-sociais > .bi-facebook, .bi-instagram, .bi-twitter-x, .bi-whatsapp{
      font-size: 16px;
      cursor: pointer;
    }

    footer > .conteudo-rodape > .redes-sociais > .bi-facebook{
      position: relative;
      left: 5%;
      bottom: 30%;
    }

    footer > .conteudo-rodape > .redes-sociais > .bi-instagram{
      position: relative;
      left: 15%;
      bottom: 30%;
    }

    footer > .conteudo-rodape > .redes-sociais > .bi-twitter-x{
      position: relative;
      left: 30%;
      bottom: 30%;
    }
    footer > .conteudo-rodape > .redes-sociais > .bi-whatsapp{
      position: relative;
      left: 40%;
      bottom: 10%;
    }
    
    .conteudo-rodape > .logo-rodape > img{
      width: 25%;
      margin-bottom: 10px;
    }
  }

/*CAROUSEL EM TELA MAIOR*/

@media (min-width: 730px) and (max-width: 930px){
  .w-100 {
    height: 60vh; /*Altura do Carousel*/
  }
  
  .carousel-inner img {
    width: 100%; /* Defina a largura das imagens do carousel como 100% para ocupar toda a largura */
  } 
}

@media (min-width: 930px){
  .w-100 {
    height: 450px; /*Altura do Carousel*/
  }
  
  .carousel-inner img {
    width: 100%;
    /*Defina a largura das imagens do carousel como 100% para ocupar toda a largura */
  } 
}