@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

body {
  background-image: linear-gradient(to bottom, #ffbf318f, #ffd34d);
  background-attachment: fixed;
}

@media only screen and (max-width: 730px) {
    body {
      background-color:  rgb(252, 11, 11);
    }
} 

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 0.60rem 5rem; /* Remova o padding horizontal e adicione 0 na largura para preencher toda a largura */ /*0.60 altura e 0 meche no nome logo e no botão*/
}


.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}


/*CAROUSEL*/

.w-100 {
    height: 50vh; /*Altura do Carousel*/
  }

.carousel-inner img {
    width: 100%; /* Defina a largura das imagens do carousel como 100% para ocupar toda a largura */
}


/*CARD*/

.card-container {
    text-align: center; /* Centraliza os cards horizontalmente */
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 240px; /* Largura dos cards */
    height: 300px; /* Altura dos cards */
    border-radius: 5px;
    text-align: center;
    margin: 35px 35px; /* Margem entre os cards deixando 4 em cima e 4 em baixo*/
    background-color: white;
    display: inline-block;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
.container {
    padding: 20px 10px; /* 20px altura da e botão do card e 10px largura */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container h2,
  .container h3 {
    font-size: 25px; /* Tamanho da fonte para todo o texto dentro do card */
  } 

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 7px; /*Tamanho do botão*/
    color: white;
    background-color: #000;
    cursor: pointer;
    width: 150px; /*diminuir ou aumentar o botão*/
    font-size: 18px; /*Tamanho da Letra do Botão*/
    border-radius: 5px;
  }
  
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
/*PARAGRAFO NOME PROMOÇÃO*/

.promocao {
    text-align: center;
    margin: 20px;
  }
  
  @media only screen and (max-width: 730px) {
    .promocao {
      font-size: 1rem;
    }
  }
 
/*IMAGEM DE PROMOÇÃO*/  

.img-fluid{
  width: 100px; height: 100px;
}

/*RODAPÉ*/

footer {
    background-color: #24252a;
    color: #fff;
    padding: 30px;
    text-align: center;
    z-index: 2; /* Adicionado z-index para garantir que o rodapé esteja acima dos outros elementos */
  }
  
  .conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-rodape h1 {
    font-size: 1.5rem;
  }
  
  .links-rodape ul {
    list-style: none;
    padding: 0;
  }
  
  .links-rodape li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .links-rodape a {
    text-decoration: none;
    color: #fff;
  }
  
  .redes-sociais a {
    display: inline-block;
    margin-left: 30px; /*deixa os ícones afastado um do outro*/
    text-decoration: none; /*tira a linha que mostra do link*/
  }
  
  .redes-sociais{
    width: 100px; /*largura*/
    height: 30px; /*altura*/
    right: 25vw;
    transform: translateX(20vw);
    position: relative;
  }
  
  /*PARTE DOS ÍCONES DAS REDES SOCIAIS*/
  footer > .conteudo-rodape > .redes-sociais > .bi-facebook, .bi-instagram, .bi-twitter-x{
    font-size: 25px;
    cursor: pointer;
  }

  footer > .conteudo-rodape > .redes-sociais > .bi-facebook{
    position: relative;
    right: 40%;
    bottom: 50%;
  }

  footer > .conteudo-rodape > .redes-sociais > .bi-instagram{
    position: relative;
    right: 25%;
    bottom: 50%;
  }

  footer > .conteudo-rodape > .redes-sociais > .bi-twitter-x{
    position: relative;
    right: 15%;
    bottom: 50%;
  }
  
  /*RODAPÉ RESPONSIVO*/
  
  @media only screen and (max-width: 730px) {

    .text-center > .rounded-circle{
      background-image: url('/imagens/supermarket-2011060_1280-min.png');
      background-position: center;
      background-size: contain;
      background-attachment: local;
      filter: contrast(2);
    } 

    footer {
        flex-direction: column;
        text-align: center;
        position: relative; /* Adicionado position: relative para garantir que o z-index funcione corretamente */
        z-index: 2; /* Adicionado z-index para garantir que o rodapé esteja acima dos outros elementos */
    }
  
    .conteudo-rodape {
        flex-direction: column;
    }
  
    .links-rodape li {
        display: block;
        margin-bottom: 10px;
    }

        /*PARTE DOS ÍCONES DAS REDES SOCIAIS*/
    footer > .conteudo-rodape > .redes-sociais > .bi-facebook, .bi-instagram, .bi-twitter-x{
      font-size: 16px;
      cursor: pointer;
    }
B
    footer > .conteudo-rodape > .redes-sociais > .bi-facebook{
      position: relative;
      left: 5%;
      bottom: 30%;
    }

    footer > .conteudo-rodape > .redes-sociais > .bi-instagram{
      position: relative;
      left: 15%;
      bottom: 30%;
    }

    footer > .conteudo-rodape > .redes-sociais > .bi-twitter-x{
      position: relative;
      left: 30%;
      bottom: 30%;
    }
  }