@charset "UTF-8";

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    width: 100vw;
    height: 90vh;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}
/*Esse h1 é o título da página*/
h1{
    color: rgba(255, 255, 255, 0.932);
    text-align: center;
    margin: 5% 5% 0% 5%;
    transform: translateY(14vh);
    font-size: 5dvw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: context-menu;
}
/*Caixinha que abriga o h2*/
output{
    width: 50%;
    height: 5%;
    position: absolute;
    top: 30vh;
    left: 25vw;
    margin-top: 2%;
}
/*Esse h2 é o supermercado*/
output > h2{
    background-color: #FF5757;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 3dvw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
    cursor: context-menu;
    padding: 5px;
}
/*ID da imagem(botão) de adição*/
#add{
    display: block;
    margin: auto;
    margin-top: 0%;
    transform: translateY(52vh);
    width: 6%;
    cursor: pointer;
}
/*Classe do input criado*/
.setor{
    width: 40%;
    height: 6%;
    border-radius: 7px;
    border: 4px solid black;
    display: block;
    position: relative;
    transform: translate(16vw,38vh);
    margin-top: 1%;
    margin-bottom: 4%;
    display: inline;
    text-align: center;
    text-transform: capitalize;
}
/*Classe do botão de salvar*/
.save{
    width: 18%;
    height: 40px;
    border: 3px solid black;
    background-color: #00BF63;
    border-radius: 15px;
    font-size: 3dvw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FEFEFE;
    text-transform: uppercase;
    position: absolute;
    transform: translate(17vw,38vh);
    margin-top:  1%;
    margin-left: 2%;
    cursor: pointer;
}
 /*Classe do botão de deletar*/
.del{
    width: 6vmin;
    height: 45px;
    position: absolute;
    transform: translate(38vw,39vh);
    margin-bottom: 4%;
    margin-left: 1%;
    cursor: pointer;
}
/*Classe da caixa que vai estar o nome do setor*/
.name{
    width: 40%;
    height: 6%;
    border-radius: 7px;
    border: 4px solid rgb(3, 3, 3);
    display: block;
    position: relative;
    transform: translate(-10vw,5vh);
    margin-bottom: 3%;
    margin-left: 1%;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: white;
}