@charset "UTF-8";
/*Configurações para tela do computador */
@media (min-width:600px) and (max-width: 768px){

    body{
        background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
        background-attachment: fixed;
    }
  
    form > ul > li{
        list-style: none;
    }
    
    /*Esses são os campos onde vão receber os dados*/
    
    form > ul > li > input{
        width: 50%;
        height: 25px;
        display: block;
        margin: auto;
        text-align: center;
        margin-top: 0%;
        margin-bottom: 10%;
        border-radius: 25px;
        border-style: solid;
        border-color: black;
        font-size: 0.8em;
        font-style: oblique;
        font-weight: 600;
    }
        
/*Primeiro campo que recebe o dado (nome)*/

    form > ul > li > #cliente{
    margin-top: 40%;    
    }

/*Último campo que recebe o dado (senha)*/

    form > ul > li > #valido{
    margin-bottom: 15%;    
    }

/*O placeholder é o que está escrito dentro dos campos*/

    form > ul > li > input::placeholder{
    color: black;
    }

/*Configurações do botão de cadastro*/

    form > button{
    margin: auto;
    display: block;
    width: 35%;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    font-weight: 600;
    }

    form > ul > li > label{
    display: none;
    }

    /*Trecho de configurações dos ícones dos campos*/

form > ul > li > #user{
    width: 3vw;
    position: absolute;
    transform: translateX(20vw);
}

form > ul > li > #cpf{
    width: 3vw;
    position: absolute;
    transform: translateX(20vw);
}

form > ul > li > #cell{
    width: 6vw;
    position: absolute;
    transform: translateX(19vw);
}

form > ul > li > #house{
    width: 4vw;
    position: absolute;
    transform: translateX(20vw);
}

form > ul > li > #gmail{
    width: 4vw;
    position: absolute;
    transform: translate(19vw,1vh);
}

form > ul > li > #password{
    width: 3vw;
    height: 18px;
    position: absolute;
    transform: translate(20vw,1vh);
    filter: brightness(0);
}

}

 /*Configurações para tela do computador width minímo de 780px*/
 @media (min-width:780px){

   /*Esse é o seletor universal do código, todos recebem inicialmente essa configuração*/

*{
    margin: 0%;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}

/*Espaço onde estão os dados*/

form{
    background-color: rgba(255, 255, 255, 0.909);
    width: 55vw;
    height: 71vh;
    display: inline-block;
    position: relative;
    transform: translate(40%,25%);
    border: 1px solid rgba(0, 0, 0, 0.772);
    border-radius: 5px;
}

form > ul > li{
    list-style: none;
}

/*Esses são os campos onde vão receber os dados*/

form > ul > li > input{
    width: 40%;
    height: 25px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 3%;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-size: 0.8em;
    font-style: oblique;
    font-weight: 600;
} 
    
    
    /*O placeholder é o que está escrito dentro dos campos*/
    
    form > ul > li > input::placeholder{
        color: black;
    }

    /*Primeiro campo que recebe o dado (nome)*/

    form > ul > li > #cliente{
        margin-top: 5%;    
        }
    
    /*Configurações do botão de cadastro*/
    
    form > button{
        width: 17%;
        height: 35px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(0, 0, 0);
        border-radius: 5px;
        font-weight: 500;
        font-size: 0.8em;
        cursor: pointer;
        position: absolute;
        transform: translate(240%,10%);
        margin-top: 2%;
    }
    
    /*Esse comando é para tirar as setinhas dos campos que tem o tipo number*/
    
    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }
    
    /*Para esconder o que está escrito dentro dos inputs*/

    input::placeholder{
        opacity: 100%;
    }
    
     }