@charset "UTF-8";
/*Configurações para tela menor*/

@media (max-width:600px){

/*Esse é o seletor universal do código, todos recebem inicialmente essa configuração*/

*{
    margin: 0%;
    padding: 0px;
}

body{
    width: 100vw;
    height: 75vh;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}

form > ul > li{
    list-style: none;
    
}

/*Esses são os campos onde vão receber os dados*/

form > ul > li > input{
    width: 40%;
    height: 25px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10%;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-size: 0.8em;
    font-style: oblique;
    font-weight: 600;
} 

/*Primeiro campo que recebe o dado (nome)*/

form > ul > li > #cliente{
    margin-top: 20%;    
}

/*Último campo que recebe o dado (senha)*/

form > ul > li > #valido{
    margin-bottom: 15%;    
}

/*O placeholder é o que está escrito dentro dos campos*/

form > ul > li > input::placeholder{
    color: black;
    font-size: 2.5dvw;
}

/*Configurações do botão de cadastro*/

form > button{
    margin: auto;
    display: block;
    width: 35%;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    font-weight: 600;
    font-size: 2.5dvw;
}

form > ul > li > label{
    display: none;
}

/*Configurações dos ícones dos campos*/

form > ul > li > #user, #cpf{
    width: 3vw;
    position: absolute;
    transform: translate(25vw,1vh);
}

form > ul > li > #cell{
    width: 6%;
    position: absolute;
    transform: translate(24vw,0vh);
}

form > ul > li > #house{
    width: 4vw;
    position: absolute;
    transform: translate(24vw,0vh);
}

form > ul > li > #gmail{
    width: 4vw;
    height: 2vh;
    position: absolute;
    transform: translate(24vw,1vh);
}

form > ul > li > #password{
    width: 4vw;
    height: 3%;
    position: absolute;
    transform: translate(24vw,1vh);
    filter: brightness(0);
}

/*
Esse link está especificando a largura(width) das telas:
https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
*/
}
