@charset "UTF-8";
/*Esse é o seletor universal do código, todos recebem inicialmente essa configuração*/

*{
    margin: 0%;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}


h1{
    text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4dvi;
    margin-top: 8%;
    margin-bottom:15%;
    color: rgba(255, 255, 255, 0.849);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.772);
    cursor: context-menu;
}

form > ul{
    width: 100%;
    margin: auto;
    display: block;
    transform: translateY(15vh);
}

form > ul > li{
    list-style: none;
}

/*Esses são os campos onde vão receber os dados*/
form > ul > li > input{
    width: 40%;
    height: 24px;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 8%;
    border-radius: 25px;
    border-radius: 25px;
    border-width: 0px;
    box-shadow: 2px 2px 6px black;
    font-size: 0.8em;
    font-style: oblique;
    font-weight: 600;
    cursor: context-menu;
} 

/*Último campo que recebe o dado (senha)*/
form > ul > li > #valido{
    margin-bottom: 15%;    
}

/*O placeholder é o que está escrito dentro dos campos*/

form > ul > li > input::placeholder{
    color: black;
    font-size: 0.8em;
}

/*Configurações do botão de cadastro*/

form > button{
    margin: auto;
    display: block;
    width: 100px;
    height: 20px;
    border-width: 0px;
    box-shadow: 2px 2px 6px black;
    border-radius: 25px;
    font-weight: 600;
    font-size: 2.2dvw;
    cursor: pointer;
    transform: translateY(90px);
    background-color: rgba(186, 91, 230, 0.772);
    color: rgb(245, 243, 240);
    letter-spacing: 2px;
}

form > ul > li > label{
    display: none;
}

/*Campo do input com tipo image*/
form > ul > li > #foto[type = 'file']{
    display: none;
}

/*Label do input com tipo image*/
form > ul > li > #descricao { 
    background-color: rgba(240, 248, 255, 0.877);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    position: absolute;
    bottom: 110%;
    left: 40%;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 6px black;
}

/*Personalização dos ícones*/

#descricao > .bi-upload{
    font-size: 25px;
    opacity: 80%;
    text-shadow: 1px 1px 2px gray;
    position: absolute;
    top: 30%;
    left: 35%;
 }

ul > li > #company, #worker, #address{
    font-size: 16px;
    position: absolute;
    transform: translateX(24vw);
}

ul > li > #cnpj{
    font-size: 16px;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    transform: translateX(24vw);
    text-decoration: underline;
}

ul > li > #address{
    filter: hue-rotate(180deg);
}

ul > li > #telephone{
    font-size: 16px;
    position: absolute;
    transform: translate(23vw,0vh);
    filter: brightness(0);
}

ul > li > #phone{
    width: 20px;
    position: absolute;
    transform: translate(23vw,-1vh);
}

ul > li > #email{
    font-size: 16px;
    position: absolute;
    transform: translate(24vw, 0vh);
}

ul > li > #pass{
    font-size: 16px;
    position: absolute;
    transform: translate(24vw,0vh);
    filter: brightness(0);
}

abbr > .bi-building-fill-check{
    text-align: center;
    position: absolute;
    transform: translate(45vw, 5vh);
    background-color: rgba(186, 91, 230, 0.772);
    width: 9%;
    padding: 2px;
    border-radius: 12px;
    cursor: pointer;
}