@charset "UTF-8";
/*Esse é o seletor universal do código, todos recebem inicialmente essa configuração*/

*{
    margin: 0%;
    padding: 0px;
}

body, html{
    width: 100vw;
    height: 80vh;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #ff3131, #ffd34d);
    background-attachment: fixed;
}

form > ul > li{
    list-style: none;
}

/*Esses são os campos onde vão receber os dados*/

form > ul > li > input{
    width: 40%;
    height: 20px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 10%;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-size: 0.8em;
    font-style: oblique;
    font-weight: 600;
} 

/*Primeiro campo que recebe o dado (nome)*/

form > ul > li > #cliente{
    margin-top: 37%;    
}

/*Último campo que recebe o dado (senha)*/

form > ul > li > #valido{
    margin-bottom: 15%;    
}

/*O placeholder é o que está escrito dentro dos campos*/

form > ul > li > input::placeholder{
    color: black;
    font-size: 0.8em;
}

/*Configurações do botão de cadastro*/

form > button{
    margin: auto;
    display: block;
    width: 35%;
    height: 27px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    font-weight: 600;
    font-size: 3dvw;
    cursor: pointer;
}

form > ul > li > label{
    display: none;
}

/*Campo do input com tipo image*/
form > ul > li > #foto[type = 'file']{
    display: none;
}

/*Label do input com tipo image*/
form > ul > li > #descricao { 
    top: 6%;
    left: 38%;
    position: absolute;
    font-size: 0.9em;
    border: 0px solid black;
    height: 19cqmin;
    width: 19cqmin;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.559);
    cursor: pointer;
    display: block;    
}

 #descricao > .bi-upload{
    font-size: 30px;
    transform: translate(6vw, 5vh);
    position: absolute;
    opacity: 60%;
    text-shadow: 1px 1px 2px gray;
 }

/*Personalização dos ícones*/

ul > li > #company, #worker, #address{
    width: 3vw;
    position: absolute;
    transform: translateX(24vw);
}

ul > li > #cnpj{
    font-size: 3dvw;
    font-weight: 900;
    font-style: italic;
    position: absolute;
    transform: translate(20vw,1vh);
    text-decoration: underline;
}

ul > li > #address{
    filter: hue-rotate(180deg);
}

ul > li > #telephone{
    width: 4vw;
    position: absolute;
    transform: translate(23vw,0vh);
    filter: brightness(0);
}

ul > li > #phone{
    width: 4vw;
    position: absolute;
    transform: translate(23vw,-1vh);
}

ul > li > #email{
    width: 4.5vw;
    position: absolute;
    transform: translate(23vw, 1vh);
}

ul > li > #pass{
    width: 3vw;
    height: 3vh;
    position: absolute;
    transform: translate(25vw,0vh);
    filter: brightness(0);
}