@charset "UTF-08";

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    width: 100%; height: 100%;
    background-image: radial-gradient(circle, rgba(240, 250, 240, 0.521), rgba(252, 212, 239, 0.644));
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: "Poppins", sans-serif;
}


@media (min-width:600px) and (max-width:768px) {
    /*Div que está apadrinhando o form*/
    #search{
        width: 100%;
        height: 25%;
    }

    #search > form{
        width: 100%; height: 100%;
    }

    #search > form > #span-input{
        width: 350px;
        height: 20%;
        display: block;
        margin: auto;
        transform: translateY(20vh);
    }

    #search > form > #span-input > input{
       border-style: none;
       width: 240px;
       height: 20px;
       border-radius: 6px;
       box-shadow: 0px 1px 5px black;
       padding: 10px;
       margin-left: 50px;
       font-family: var(--font);
    }
    /*Remove a borda de click do input*/
    #search > form > #span-input > input:focus{
       outline: 0px;
    }
    #search > form > #span-input > .bi-search{
        margin-left: 25px;
        opacity: 0.8;
        color: white;
        text-shadow: 0px 1px 2px black;
        cursor: pointer;
        font-size: 20px;
    }
    /*Div que está com as duas frase*/
    #message{
        background-color: rgba(240, 248, 255, 0.733);
        box-shadow: 2px 2px 4px grey;
        border-radius: 7px;
        width:500px;
        height: 25%;
        display: block;
        margin: auto;
        transform: translateY(20vh);  
    }
    /*Primeira frase*/
    #message > #first-phrase{
        text-align: center;
        font-family: var(--font);
        font-size: 15px;
        color: rgb(4, 4, 97);
        cursor: context-menu;
        transform: translate(7vw,5vh);
        width: 400px;
    }
    /*Segunda frase*/
    #message > #second-phrase{
        text-align: center;
        font-family: var(--font);
        font-size: 15px;
        color: rgb(4, 4, 97);
        text-shadow: 1px 1px 2px white;
        background-image: linear-gradient(120deg, rgba(253, 237, 58, 0.808) 65%,rgba(77, 224, 185, 0.808));
        width: 150px;
        border-radius: 10px;
        display: block;
        margin: auto;
        transform: translateY(10vh);
        padding: 5px;
        cursor: context-menu;
    }
    /*Card que mostra os resultados da empresa*/
    .results{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 400px;
        height: 150px;
        border-radius: 7px;
        box-shadow: 1px -2px 10px #876b6b;
        display: block;
        margin: auto;
    }

    .results > h1{
        font-family: var(--font);
        font-size: 1em;
        color: white;
        text-shadow: 1px 2px 3px black;
        text-decoration-line: underline;
        text-decoration-color: white;
        text-decoration-style: solid;
        text-transform: capitalize;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 15px;
        background-color: rgba(240, 248, 255, 0.767);
    }

    .results > .phrase-comp{
        text-align: center;
        font-family: var(--font);
        font-size: 1em;
        background-color: #121111a4;
        color: white;
        padding: 10px;
    }

    .results > .phrase-prod{
        text-align: left;
        font-family: var(--font);
        font-size: 0.8em;
        color: #121111e9;
        padding: 10px;     
    }

    .results > .img-product{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.132);
        position: relative;
        left: 72%;
        bottom: 50%;

    }

    .results > .button-card{
        border-top: none;
        border-right: none;
        padding: 0px 5px 0px 6px;
        font-family: arial;
        font-size: 0.8em;
        position: relative;
        bottom: 28%;
        left: 51%;
        cursor: pointer;
    }

    .button-card:hover{
        background-image: linear-gradient(to left, rgba(98, 229, 98, 0.79) 25%,rgba(255, 255, 0, 0.785) 50%,rgba(255, 0, 0, 0.712));
    }

    .results > .button-card > .bi-cart-plus{
        margin-left: 8px;
        border-radius: 3%;
        font-size: 1.1em;     
        cursor: pointer;  
    }
}

@media (min-width: 768px){
    /*Div que está apadrinhando o form*/
    #search{
        width: 100%;
        height: 25%;
    }

    #search > form{
        width: 100%; height: 100%;
    }

    #search > form > #span-input{
        width: 350px;
        height: 20%;
        display: block;
        margin: auto;
        transform: translateY(20vh);
    }

    #search > form > #span-input > input{
       border-style: none;
       width: 240px;
       height: 20px;
       border-radius: 6px;
       box-shadow: 0px 1px 5px black;
       padding: 10px;
       margin-left: 50px;
       font-family: var(--font);
    }
    /*Remove a borda de click do input*/
    #search > form > #span-input > input:focus{
       outline: 0px;
    }
    #search > form > #span-input > .bi-search{
        margin-left: 25px;
        opacity: 0.8;
        color: white;
        text-shadow: 0px 1px 2px black;
        cursor: pointer;
        font-size: 20px;
    }
    /*Div que está com as duas frase*/
    #message{
        background-color: rgba(240, 248, 255, 0.733);
        box-shadow: 2px 2px 4px grey;
        border-radius: 7px;
        width:600px;
        height: 25%;
        display: block;
        margin: auto;
        transform: translateY(20vh);  
    }
    /*Primeira frase*/
    #message > #first-phrase{
        text-align: center;
        font-family: var(--font);
        font-size: 15px;
        color: rgb(4, 4, 97);
        cursor: context-menu;
        transform: translate(6vw,5vh);
        width: 500px;
    }
    /*Segunda frase*/
    #message > #second-phrase{
        text-align: center;
        font-family: var(--font);
        font-size: 15px;
        color: rgb(4, 4, 97);
        text-shadow: 1px 1px 2px white;
        background-image: linear-gradient(120deg, rgba(253, 237, 58, 0.808) 65%,rgba(77, 224, 185, 0.808));
        width: 150px;
        border-radius: 10px;
        display: block;
        margin: auto;
        transform: translateY(10vh);
        padding: 5px;
        cursor: context-menu;
    }

    .results{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 400px;
        height: 150px;
        border-radius: 7px;
        box-shadow: 1px -2px 10px #876b6b;
        display: block;
        margin: auto;
    }

    .results > h1{
        font-family: var(--font);
        font-size: 1em;
        color: white;
        text-shadow: 1px 2px 3px black;
        text-decoration-line: underline;
        text-decoration-color: white;
        text-decoration-style: solid;
        text-transform: capitalize;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 15px;
        background-color: rgba(240, 248, 255, 0.767);
    }
    .results > .img-product{
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.132);
        position: relative;
        left: 65%;
        bottom: 35%;
    }

    .results > .button-card{
        border-top: none;
        border-right: none;
        padding: 0px 5px 0px 6px;
        font-family: arial;
        font-size: 0.8em;
        position: relative;
        bottom: 20%;
        left: 45%;
        cursor: pointer;
    }

    .button-card:hover{
        background-image: linear-gradient(to left, rgba(98, 229, 98, 0.79) 25%,rgba(255, 255, 0, 0.785) 50%,rgba(255, 0, 0, 0.712));
    }

    .results > .button-card > .bi-cart-plus{
        margin-left: 8px;
        border-radius: 3%;
        font-size: 1.1em;     
        cursor: pointer;  
    }
}
