@charset "UTF-08";

*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    width: 100%; height: 100%;
    background-image: radial-gradient(circle, rgba(240, 250, 240, 0.521), rgba(252, 212, 239, 0.644));
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font: "Poppins", sans-serif;
}


@media (max-width:600px) {
    /*Div que está apadrinhando o form*/
    #search{
        width: 100%;
        height: 25%;
    }

    #search > form{
        width: 100%; height: 100%;
    }

    #search > form > #span-input{
        width: 50%;
        height: 20%;
        display: block;
        margin: auto;
        transform: translateY(20vh);
    }

    #search > form > #span-input > input{
       border-style: none;
       width: 80%;
       height: 20px;
       border-radius: 6px;
       box-shadow: 0px 1px 5px black;
       margin-top: 3px;
       padding: 1px;
    }
    /*Remove a borda de click do input*/
    #search > form > #span-input > input:focus{
       outline: 0px;
    }
    #search > form > #span-input > .bi-search{
        margin-left: 20px;
        opacity: 0.8;
        color: white;
        text-shadow: 0px 1px 2px black;
        cursor: pointer;
    }
    /*Div que está com as duas frase*/
    #message{
        border-radius: 7px;
        width: 100%;
        height: 25%;
        transform: translateY(15vh);   
    }
    /*Primeira frase*/
    #message > #first-phrase{
        text-align: center;
        font-family: var(--font);
        font-size: 2.5dvi;
        color: rgb(4, 4, 97);
        cursor: context-menu;
        margin-top: 40px;
    }
    /*Segunda frase*/
    #message > #second-phrase{
        text-align: center;
        font-family: var(--font);
        font-size: 2.5dvi;
        color: rgb(4, 4, 97);
        text-shadow: 1px 1px 2px white;
        background-image: linear-gradient(120deg, rgba(253, 237, 58, 0.808) 65%,rgba(77, 224, 185, 0.808));
        width: 25%;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 36%;
        padding: 5px;
        cursor: context-menu;
    }

    /*Card que mostra os resultados da empresa*/
    .results{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60%;
        height: 20%;
        border-radius: 7px;
        box-shadow: 1px -2px 10px #876b6b;
        display: block;
        margin: auto;
    }

    .results > h1{
    font-family: var(--font);
    font-size: 2.5dvi;
    color: white;
    text-shadow: 1px 2px 3px black;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-style: solid;
    text-transform: capitalize;   
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    background-color: rgba(240, 248, 255, 0.767);
    }

    .results > .phrase-comp{
        text-align: center;
        font-family: var(--font);
        font-size: 1em;
        background-color: #121111a4;
        color: white;
        padding: 10px;
    }

    .results > .phrase-prod{
        text-align: left;
        font-family: var(--font);
        font-size: 0.8em;
        color: #121111e9;
        padding: 10px;     
    }

    .results > .img-product{
        width: 29%;
        height: 50%;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.132);
        position: relative;
        left: 60%;
        bottom: 65%;
    }

    .results > .button-card{
        border-top: none;
        border-right: none;
        padding: 0px 5px 0px 6px;
        font-family: arial;
        font-size: 0.8em;
        position: relative;
        bottom: 44%;
        left: 30%;
        cursor: pointer;
    }

    .button-card:hover{
        background-image: linear-gradient(to left, rgba(98, 229, 98, 0.79) 25%,rgba(255, 255, 0, 0.785) 50%,rgba(255, 0, 0, 0.712));
    }


    .results > .button-card > .bi-cart-plus{
        margin-left: 8px;
        border-radius: 3%;
        font-size: 1.1em;     
        cursor: pointer;  
    }

}